<ion-navbar *navbar>
  <ion-title>feed</ion-title>
</ion-navbar>


<ion-content padding class="feed">
   <ion-refresher (refresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  
    <ion-list>
        <ion-card *ngFor="#image of images">
            <img [src]="image.imageUrl" />
            <ion-card-content>
                <ion-card-title>
                    {{image.title}}
                </ion-card-title>
                <p *ngFor="#tag of image.tags">
                  {{tag.tag}}
                </p>
                <button secondary block (click)="goToDetail(image)">
                    <ion-icon name="checkbox-outline"></ion-icon> View
                </button>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
